<!DOCTYPE html>
<html lang="en">
<head>
<title>My Ruby | Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<header>
  <div align="center">
    <h1>About Alpha_Blog!</h1>
      <div align="center">
        <p><i id="quote">"Ruby is a dynamic, interpreted, reflective, object-oriented, 
                          general-purpose programming language."
        </i></p>
      </div>
  </div>  
</header>
<br />
<br />
<br />
<br />
<br />
    <body>
      <div>
        <%= link_to 'Home', root_path %> | <%= link_to 'Alpha Blog', articles_path %>
      </div>
    </body>
</html>