<!DOCTYPE html>
<html lang="en">
<head>
<title>My Ruby | Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<header>
  <div>
    <h1>About Ruby!</h1>
    <p><i id="quote">"Ruby is a dynamic, interpreted, reflective, object-oriented, general-purpose programming language."</i></p>
  </div>
  <div>
    <%= link_to 'Home', root_path %> | <%= link_to 'Alpha Blog', articles_path %>
  </div>
</header>
<main>
  <span>
 

  <h2>Blog</h2>
  <h3>Build an awsome App with Ruby!</h3>
  <time datetime="2018-11-15">November 15, 2018</time>

  <article>
    <p>Rails is a development tool which gives web developers a framework, providing structure for all the code they write. The Rails framework helps developers to build websites and applications, because it abstracts and simplifies common repetitive tasks.</p>

</article>
</main>
<aside>
  <span>
    <h2>Ruby resources:</h2>
  <ul>
  <li></li><a href="url">Previous Post 1</a></li>
  <li><a href="url">Previous Post 2</a></li>
  <li><a href="url">Previous Post 3</a></li>
  <li><a href="url">Previous Post 4</a></li>
  </ul>
  </span>
</aside>

</html>