<div class="center jumbotron">
    <h1>{ Welcome to Alpha_Blog! }</h1>
</div>
    
<div class="subscribe-btn">
  <%= link_to 'Subscribe Now', "#", class: "gradient-button gradient-button-4 btn-lg btn-xlarge" %>
</div>

<div>
  <p id="quote">"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."</p>
</div> 
 




