<div class="container">
    <footer class="footer">
      <small>
        Copyright&copy; 2019 by <a href="http://www.alfreddominguez.com" target="_blank">Alfred Dominguez</a>
      </small>
      <nav>
        <ul>
          <li>
            <%= link_to "About", about_path %>
          </li>
        </ul>
      </nav>
    </footer>
</div>